#include <windows.h>
#include <commctrl.h>

#pragma code_page(65001)

#include "resource.h"

IDD_LAUNCHER DIALOGEX 0, 0, 420, 300
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
EXSTYLE WS_EX_APPWINDOW
CAPTION "Easy-Net Hook"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Easy-Net Hook", IDC_TITLE, 10, 6, 96, 17
    LTEXT           "常用应用代理快捷入口", IDC_SUBTITLE, 108, 10, 300, 11

    GROUPBOX        "快捷入口", -1, 6, 25, 145, 238
    LTEXT           "单击编辑 · 双击启动", -1, 13, 40, 132, 11
    CONTROL         "", IDC_ENTRIES, "SysListView32", WS_TABSTOP | WS_BORDER | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS, 12, 53, 133, 168
    PUSHBUTTON      "新建", IDC_NEW_ENTRY, 12, 227, 57, 21
    PUSHBUTTON      "删除", IDC_REMOVE_ENTRY, 73, 227, 48, 21
    LTEXT           "", IDC_ENTRY_STATE, 12, 253, 133, 10

    GROUPBOX        "入口设置", -1, 157, 25, 257, 238
    LTEXT           "名称", -1, 168, 44, 40, 11
    EDITTEXT        IDC_ENTRY_NAME, 212, 39, 191, 18, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "场景", -1, 168, 68, 40, 11
    COMBOBOX        IDC_MODE, 212, 63, 191, 84, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "SOCKS5", -1, 168, 92, 40, 11
    EDITTEXT        IDC_PROXY, 212, 87, 139, 18, ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "测试", IDC_TEST_PROXY, 355, 86, 48, 20
    LTEXT           "程序", -1, 168, 116, 40, 11
    EDITTEXT        IDC_PATH, 212, 111, 143, 18, ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "浏览", IDC_BROWSE, 359, 110, 44, 20
    LTEXT           "参数", -1, 168, 140, 40, 11
    EDITTEXT        IDC_ARGUMENTS, 212, 135, 191, 18, ES_AUTOHSCROLL | WS_TABSTOP
    CONTROL         "使用独立配置", IDC_ISOLATED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 168, 159, 116, 16
    CONTROL         "接管已运行微信", IDC_WECHAT_EXISTING, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 168, 159, 116, 16
    LTEXT           "UDP", IDC_UDP_LABEL, 288, 162, 28, 11
    COMBOBOX        IDC_UDP_MODE, 322, 157, 81, 76, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "DNS", -1, 168, 186, 40, 11
    EDITTEXT        IDC_DNS, 212, 181, 191, 18, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "", IDC_HINT, 168, 202, 235, 34
    CONTROL         "启动后关闭本窗口", IDC_CLOSE_AFTER_LAUNCH, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 168, 235, 118, 14
    PUSHBUTTON      "日志", IDC_OPEN_LOGS, 288, 232, 47, 19
    PUSHBUTTON      "微信状态", IDC_WECHAT_STATUS, 339, 232, 64, 19
    LTEXT           "正在新建入口", IDC_STATUS, 168, 251, 235, 10

    PUSHBUTTON      "创建桌面快捷方式", IDC_CREATE_SHORTCUT, 157, 271, 104, 23
    PUSHBUTTON      "保存", IDC_SAVE_ENTRY, 267, 271, 63, 23
    DEFPUSHBUTTON   "保存并启动", IDC_LAUNCH, 334, 271, 80, 23
END
